{% extends 'base.html' %} {% block content %}

<div class="body-padding-20">
  <div id="success"></div>
  <h1>Create New User</h1>
  <div class="row">
    <div class="col-3">
      <form name="create_user_form">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          name="username"
          class="field"
          required
        />

        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          name="password"
          class="field"
          required
        />

        <div class="row">
          <label for="checkbox">User is admin?</label>
        </div>
        <div class="row">
          <div class="col-2">
            <input id="isAdmin" type="checkbox" name="checkbox" class="field" />
          </div>
        </div>

        <p class="error error--hidden"></p>

        <div class="row">
          <div class="col-6">
            <input type="submit" value="Create User" class="btn" />
          </div>
          <div class="col-6">
            <button id="clear-form" class="btn">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
